.app-main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #121212;
  overflow: hidden;
}

.content-wrapper {
  flex: 1;
  overflow: hidden; 
  position: relative;
  display: flex;
  flex-direction: column;
}
