.sidebar {
  width: 350px; /* Adjusted width */
  background-color: #121212; /* Dark Gray instead of Black */
  height: 100%;
  border-radius: 8px; /* Added curve */
  display: flex;
  flex-direction: column;
  padding: 24px;
  color: #b3b3b3;
  flex-shrink: 0;
}

.logo {
  margin-bottom: 24px;
  padding-left: 0px;
  display: flex;
  align-items: center;
}

.logoTitle {
  color: white;
  margin: 0;
  font-size: 24px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
}

.menuItem {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 16px;
  transition: color 0.2s;
}

.menuItemActive {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 16px;
  color: white;
}

.menuText {
  font-size: 14px;
  font-weight: bold;
}

.divider {
  height: 1px;
  background-color: #282828;
  margin: 8px 0;
}

.playlistMenu {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.iconBox {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
}

.playlists {
  margin-top: 20px;
  overflow-y: auto;
}

.playlistItem {
  font-size: 14px;
  margin-bottom: 12px;
  cursor: pointer;
}
